/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

body {
    font-family: 'Nunito', sans-serif; /* Klare und moderne Schrift */
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f6fb; /* Dezenter violetter Farbton */
    line-height: 1.6;
}

/* Farbakzente */
:root {
    --primary-color: #7d5ba6; /* Sanftes Violett */
    --secondary-color: #a393bf; /* Helleres Violett */
    --accent-color: #d4c2f5; /* Sehr blasses Violett */
    --text-color: #333;
    --background-color: #f9f6fb; /* Haupt-Hintergrundfarbe */
}

header.hero {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('bild1.jpg') center/cover no-repeat;
    color: #fff;
    padding: 80px 20px;
    border-bottom: 5px solid var(--primary-color);
}

header.hero h1 {
    font-size: 3
